<!-- Pager -->
<ul class="pager">
    <li class="next">
        <%#= link_to "Anteriores <i class=\"fa fa-arrow-right\" aria-hidden=\"true\"></i>".html_safe, posts_path(anteriores: true) %>
    </li>
</ul>